body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #1e1e1e; /* Dark background */
  color: #c7c7c7; /* Light grey text for contrast */
  margin: 0;
  padding: 20px; /* Sufficient padding but not too much */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children vertically */
}

h1 {
  text-align: left;
  font-size: 2.5em;
  color: #e0e0e0; /* A light grey color for high contrast on the dark background */
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* A subtle shadow to lift the text off the background */
  letter-spacing: 1px; /* Increase letter-spacing to make it more airy and modern */
  font-weight: 700; /* Increase weight for boldness */
}

.input-label,
.output-label {
  font-weight: bold; /* Makes the label text bold */
  margin-bottom: 5px; /* Spacing between label and textarea */
  display: block; /* Ensures it takes up the full width */
  color: #f8f8f2; /* Light color for visibility against a dark background */
}

/* Container for input, button and output */
.container {
  display: flex;
  gap: 5%; /* Use percentage for responsive gap */
  width: 95%; /* Set width to almost full-screen */
  align-items: stretch; /* Stretch children vertically */
}

/* Code text input area */
textarea {
  width: 100%;
  height: auto;
  min-height: 300px;
  min-width: 500px;
  flex: 3;
  padding: 15px;
  font-family: "Courier New", monospace;
  font-size: 14px;
  background-color: #252526;
  color: #dcdcdc;
  border: 1px solid #3c3c3c;
  border-radius: 5px;
  resize: none;
  background-color: #1e1e1e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Styling for the code output area to look non-interactive */
.code-output {
  background-color: #252526;
  color: #dcdcdc;
  border: 1px solid #3c3c3c; /* Dark border for depth */
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px;
  font-family: "Courier New", monospace;
  font-size: 14px;
  overflow-y: auto; /* Allows scrolling if content is too long */
  flex: 2;
}

/* Button container */
.button-container {
  text-align: center; /* Centers the button */
  margin-top: 20px;
}

/* Modern button style */
button {
  background-color: #004a8d;
  background-image: linear-gradient(
    to right,
    #003d77,
    #005ea1
  ); /* Gradient effect */
  color: #ffffff;
  border: none;
  padding: 10px 25px;
  border-radius: 5px; /* Rounded corners */
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.1s ease,
    box-shadow 0.3s ease;
}

button:hover,
button:focus {
  background-color: #003366;
  background-image: linear-gradient(to right, #002850, #004c8c);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

pre {
  white-space: pre-wrap; /* Wraps the text */
  word-break: break-word; /* To prevent horizontal overflow */
  background-color: #333; /* Dark background for visibility */
  color: #f8f8f2; /* Light text color for contrast */
  padding: 1em;
  margin: 0; /* Adjust as necessary */
  overflow-x: auto; /* Horizontal scrolling if needed */
  border-radius: 5px;
}

code {
  font-family: "Courier New", monospace;
  background-color: #2d2d2d;
  border: 1px solid #ccc;
  display: block; /* To ensure it takes up the full width inside pre */
  padding: 0.5em;
  margin: 0; /* Adjust as necessary */
  overflow-x: auto; /* Horizontal scrolling if needed */
  white-space: pre; /* Maintains formatting for code */
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 95%; /* Slightly narrower on small screens */
    gap: 20px; /* Smaller gap on small screens */
  }

  .button-container {
    margin-top: 10px; /* Less space on small screens */
  }
}
