<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code Assistant</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>Code Assistant</h1>
    <div class="container">
      <div class="code-input">
        <div class="input-label">Your code:</div>
        <!-- Label for the code input -->
        <textarea
          id="user-code"
          placeholder="Paste your code here..."
          autofocus
        ></textarea>
        <div class="button-container">
          <button id="submit-code">Fix Code</button>
        </div>
      </div>
      <div class="code-output">
        <div class="output-label">Recommended improvements:</div>
        <!-- Label for the code output -->
        <div id="llm-output">Recommended improvements will appear here...</div>
      </div>
    </div>
    <footer>
      <div class="instructions">
        <h2>How to Use Code Assistant</h2>
        <p>
          This tool is designed to help you improve your code with suggestions
          from a Large Language Model (LLM). Simply paste your code into the
          "Your Code" text area and click the "Fix Code" button. The AI will
          analyze your code and provide recommendations for improvements and
          corrections in the "Recommended Improvements" section. If your code is
          already in good shape, the AI will let you know that no changes are
          necessary.<br /><br />
          The code assistant was created by Vincent Bohman for Gothenburg
          University.
          <a href="https://github.com/vinc10/codeassist" target="_blank"
            >https://github.com/vinc10/codeassist</a
          >
        </p>
      </div>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
